{% extends "blog/base.html" %}
{% block content %}

    <article class="media content-section">
          <div class="media-body">
            <h3>Контакты</h3>
            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A71613040218f45212eb79dd9080ff3b01bc30fd4c990d9fe07bc573e535931fa&amp;source=constructor" width="690" height="400" frameborder="0"></iframe>

            <table class="table table-borderless">
  <tbody>
    <tr>
      <th scope="row"></th>
      <td><strong>Юридический адрес</strong></td>
      <td><span>110000 Республика Казахстан, г.Костанай, ул.Тәуелсіздік,85</span></td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td><strong>E-mail</strong></td>
      <td><span><a href="mailto:transport@kostanay.gov.kz">transport@kostanay.gov.kz</a></span></td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td><strong>Телефон доверия</strong></td>
      <td><span>8(7142)&nbsp; 54-26-28</span></td>
    </tr>
  </tbody>
</table>

            <h2>Детальная контактная информация</h2>
            <p class="article-content">Информация</p>

          </div>
        </article>
{% endblock content %}
