{% extends "blog/base.html" %}
{% block content %}

    <article class="media content-section">
          <div class="media-body">
            <h3>Контакты</h3>
            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A71613040218f45212eb79dd9080ff3b01bc30fd4c990d9fe07bc573e535931fa&amp;source=constructor" width="690" height="400" frameborder="0"></iframe>

            <table class="table table-borderless">
  <tbody>
    <tr>
      <th scope="row"></th>
      <td><strong>Юридический адрес</strong></td>
      <td><span>110000 Республика Казахстан, г.Костанай, ул.Тәуелсіздік,85</span></td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td><strong>E-mail</strong></td>
      <td><span><a href="mailto:transport@kostanay.gov.kz">transport@kostanay.gov.kz</a></span></td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td><strong>Телефон доверия</strong></td>
      <td><span>8(7142)&nbsp; 54-26-28</span></td>
    </tr>
  </tbody>
</table>

            <h2>Детальная контактная информация</h2>
            <br>
            <h4>Руководство</h4>
            <div class="row mt-2 d-none d-md-flex"><div class="col-md-5"><span data-tip="true" class=" typography typography__variant-bodysubbold  ">Полное наименование</span></div><div class="col-md-3"><span data-tip="true" class=" typography typography__variant-bodysubbold  ">Телефон</span></div><div class="col-md-4"><span data-tip="true" class=" typography typography__variant-bodysubbold  ">E-mail</span></div></div>
            <br>
            <div><div class="row align-items-center"><div class="col-md-5 d-flex flex-column"><a data-tip="true" class="p-0 mr-auto button button--flat button--flatter button--cropped button--transition  " title="" href="{% url 'blog-biography' %}"><h4>Нургалиев О. Ж.</h4></a><p class="mt-2 typography typography__variant-bodysubreg  " data-tip="true">Руководитель ГУ «Управление пассажирского транспорта и автомобильных дорог акимата Костанайской области»</p></div><div class="col-md-3"><p data-tip="true" class=" typography typography__variant-bodysubreg  ">8(7142)54-26-28</p></div><div class="col-md-4"><p data-tip="true" class=" typography typography__variant-bodysubreg  ">transport@kostanay.gov.kz</p></div></div></div>
            
            <div><div class="row align-items-center"><div class="col-md-5 d-flex flex-column"><a data-tip="true" class="p-0 mr-auto button button--flat button--flatter button--cropped button--transition  " title="" href="#"><h4>Сейдахметов Б.К.</h4></a><p class="mt-2 typography typography__variant-bodysubreg  " data-tip="true">Заместитель руководителя  управления ГУ «Управление пассажирского транспорта и автомобильных дорог акимата Костанайской области»</p></div><div class="col-md-3"><p data-tip="true" class=" typography typography__variant-bodysubreg  ">8(7142) 54-56-46</p></div><div class="col-md-4"><p data-tip="true" class=" typography typography__variant-bodysubreg  ">transport@kostanay.gov.kz</p></div></div></div>

            <div><div class="row align-items-center"><div class="col-md-5 d-flex flex-column"><a data-tip="true" class="p-0 mr-auto button button--flat button--flatter button--cropped button--transition  " title="" href="#"><h4>Костюков  А.А.</h4></a><p class="mt-2 typography typography__variant-bodysubreg  " data-tip="true">Заместитель руководителя управления ГУ «Управление пассажирского транспорта и автомобильных дорог акимата Костанайской области»</p></div><div class="col-md-3"><p data-tip="true" class=" typography typography__variant-bodysubreg  ">8(7142)  54-79-55</p></div><div class="col-md-4"><p data-tip="true" class=" typography typography__variant-bodysubreg  ">transport@kostanay.gov.kz</p></div></div></div>
          </div>
        </article>
{% endblock content %}
