{% extends "blog/base.html" %}
{% block content %}

    <article class="media content-section">

          <div class="media-body">
            <h3>Биография</h3>
            <p><strong>Нургалиев Олжас Жомартович</strong></p>
            <p>Руководитель ГУ «Управление пассажирского транспорта и автомобильных дорог акимата Костанайской области»</p>
            <p><strong>Общая информация, образование</strong></p>
            <p>Родился 22 декабря 1986 года в поселке Затобольск Костанайской области.</p>
            <p>Образование высшее, в 2008 году окончил Евразийский Национальный университет имени Л.Н. Гумилева, по специальности – международные отношения; в 2015 году Современную гуманитарную академию г. Москва, по специальности – экономика.</p>
            <p><strong>Карьера</strong></p>
            <p>С апреля 2009 года по ноябрь 2015 года работал директором ТОО «ALASAR Investments», с января 2011 года по ноябрь 2015 года являлся главой крестьянского хозяйства «Ждановское». С ноября 2015 года по июль 2016 года работал директором ТОО «ЖКХ ремонт».</p>
            <p>В июле 2016 года принят исполняющим обязанности руководителя ГУ «Отдел жилищно-коммунального хозяйства, пассажирского транспорта и автомобильных дорог акимата города Костаная». С сентября 2016 года по май 2017 года – руководитель ГУ «Отдел жилищно-коммунального хозяйства, пассажирского транспорта и автомобильных дорог акимата города Костаная».</p>
            <p>25 мая 2017 года по 11 ноября 2019 года занимал должность заместителя акима города Костаная.</p>
            <p>С 12 ноября 2019 года – руководитель ГУ «Управление пасажирского транспорта и автомобильных дорог акимата Костанайской области».</p>
          </div>

        </article>
{% endblock content %}
