{% extends "blog/base.html" %}
{% block content %}

    <article class="media content-section">

          <div class="media-body">
            <h3>Уважаемые посетители сайта!</h3>
            <p>Рад приветствовать вас на блог-платформе ГУ «Управление пассажирского транспорта и автомобильных дорог акимата Костанайской области» и сообщить вам,
              что переходим на новую усовершенствованную версию корпоративного ресурса.
              &nbsp;
            </p>
            <p>Мы ценим ваше время, поэтому приложили максимум
              усилий для обеспечения комфортного доступа к любой
              информации на обновленном web-ресурсе: четкая и
              удобная система навигации, продуманный интерфейс,
              также предусмотрены &nbsp;современные формы
              общения. Посетители сайта могут доступно и
              оперативно получить полную информацию,
              ее услугах и многом другом.&nbsp;
            </p>
            <p>Впрочем, останавливаться на достигнутом мы не
              планируем. Возможности нашего коммуникационного
              ресурса будут в дальнейшем расширены за счет
              внедрения новых технологий, ведь главная цель
              «Управление пассажирского транспорта и автомобильных дорог акимата Костанайской области» – это повышение качества и
              уровня обслуживания населения.&nbsp;
            </p>
            <p>Наша компания всегда открыта для диалога с каждым
              из вас. Все ваши обращения, предложения и отзывы
              будут внимательно изучены и не останутся без
              ответа.&nbsp;
            </p>
            <p>
              <strong>
                C уважением,
                <br>
                Руководитель управления
                <br>
                ГУ «Управление пассажирского транспорта и автомобильных дорог акимата Костанайской области»
                <br>
              </strong>
              <strong>Олжас&nbsp;</strong>
              <strong>Жомартович</strong>
            </p>
            <p><a href="{% url 'blog-biography' %}">Биография руководителя</a> <br></p>
            <p><a href="{% url 'blog-struktura' %}"">Структура управления</a> <br></p>
            <p></p>
          </div>

        </article>
{% endblock content %}
